<div class="wrapper">
  <app-card (btnClickEvent)="openSnackBar()"
    titulo="Basic"
    preco="19.99"
    conteudo1="500GB Storage"
    conteudo2="2 User Allowed"
    conteudo3="Send up tp 3 GB"
    background=""
    color=""
    >
  </app-card>
  <app-card (btnClickEvent)="openSnackBar()"
    titulo="Professional"
    preco="24.99"
    conteudo1="1 TB Storage"
    conteudo2="5 User Allowed"
    conteudo3="Send up tp 10 GB"
    background=""
    color=""
  >
  </app-card>
  <app-card (btnClickEvent)="openSnackBar()"
    titulo="Master"
    preco="39.99"
    conteudo1="2 TB Storage"
    conteudo2="10 User Allowed"
    conteudo3="Send up tp 20 GB"
    background=""
    color=""
    >
  </app-card>
  
  
</div>